<div class="container">
  <div class="header-container">
    <div class="header-image">
      <img src="cid:logo" alt="logo" style="max-width: 200px; height: auto;" />
    </div>
    <h1 class="header-title">Your account has been deleted</h1>
  </div>
  <h3>We regret to inform you that due to certain reasons we have decided to delete your account, if you wish to create it again please visit the following link</h3>
  <p><a href="http://localhost:8080/register">Create a new account</a></p>
</div>

<style>
  .container { text-align: center; background-color: #202020; padding: 20px; }
  .header-container { display: flex; align-items: center; padding: 10px; }
  .header-image { max-width: 200px; height: auto; margin-right: 20px; }
  .header-title { display: inline-block; margin: 0; color: white;} a {text-decoration: none; color: inherit;}
</style>