<div class="container">
  <div class="header-container">
    <div class="header-image">
      <img src="cid:logo" alt="logo" style="max-width: 200px; height: auto;" />
    </div>
    <h1 class="header-title">One more step for restore your password</h1>
  </div>
  <h3>To continue with your password change click on the following lick which
    will take you to the password reset tab</h3>
  <p><a href="{{url}}/restorePassword?tkn={{restoreToken}}">Change
      Password</a></p>
</div>

<style>
  .container { text-align: center; background-color: #202020; padding: 20px; }
  .header-container { display: flex; align-items: center; padding: 10px; }
  .header-image { max-width: 200px; height: auto; margin-right: 20px; }
  .header-title { display: inline-block; margin: 0; color: white;} a {text-decoration: none; color: inherit;}
</style>