<div class="container">
  <div class="header-container">
    <div class="header-image">
      <img src="cid:logo" alt="logo" style="max-width: 100px; height: auto;" />
    </div>
    <h1 class="header-title">Welcome {{user.name}}!</h1>
  </div>
  <h3>Thanks for registering in our E-commerce.</h3>
</div>

<style>
  .container { text-align: center; background-color: #202020; padding: 20px; }
  .header-container { display: flex; align-items: center; padding: 10px; }
  .header-image { max-width: 200px; height: auto; margin-right: 20px; }
  .header-title { display: inline-block; margin: 0; color: white;
</style>