<head>
  <link rel="stylesheet" href="/css/home.css" />
</head>

<div>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="/img/ninja-programming.png"
          alt="Logo"
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
        Home Page
      </a>
    </div>
  </nav>

  <div class="row row-cols-1 row-cols-md-4 g-4">
  </div>
</div>

<script type="module" src="/js/home.js"></script>