<div
  class="container"
  style="text-align: center; align-items: center; margin-top: 20px"
>
  <h3>The link expired or was altered, please generate it again here</h3>
  <p><a href="/login">generate link</a></p>
</div>