<head>
  <link rel="stylesheet" href="/css/products.css" />
</head>

<div>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="/img/ninja-programming.png"
          alt="Logo"
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
        Hello
        {{user.name}}, check these products
      </a>
      <button type="button" class="btn btn-danger">Log Out</button>
    </div>
  </nav>

  <div class="row row-cols-1 row-cols-md-4 g-4">
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="/js/products.js"></script>