<head>
  <link rel="stylesheet" href="/css/register-login.css" />
</head>
<div class="container">
  <h1>Sign Up</h1>
  <div class="row align-items-center" id="FirstLabels">
    <div class="col-md-3">
      <input
        type="text"
        class="form-control"
        placeholder="First name"
        aria-label="First name"
        id="first_name"
      />
    </div>
    <div class="col-md-3">
      <input
        type="text"
        class="form-control"
        placeholder="Last name"
        aria-label="Last name"
        id="last_name"
      />
    </div>
  </div>

  <div class="row align-items-center" id="SecondLabels">
    <div class="col-md-3 align-self-center">
      <input
        type="email"
        placeholder="Email"
        class="form-control"
        id="inputEmail4"
      />
    </div>
    <div class="col-md-3 align-self-center">
      <input
        type="password"
        placeholder="Password"
        class="form-control"
        id="inputPassword4"
      />
    </div>
  </div>
  <div class="containerBtn"><button type="button" class="btn btn-primary">Register</button></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="/js/register.js"></script>