.card {
  background-color: #242424;
}

.form-control {
  background-color: #555;
  color: #fff;
}

.form-control:focus {
  background-color: #555;
  color: #fff;
  outline: none; 
  border-color: #555; 
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-dark {
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:hover {
  background-color: #1d2124;
  border-color: #1d2124;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #545b62;
  border-color: #545b62;
}

.btn-primary{
  margin-top: 20px;
}